.wrapper{
    position: relative;
}

.dot7{
    position: absolute;
    height: 55vw;
    width: 55vw;
    background-color: #AAABBC;
    border-radius: 50%;
    transform: translate(45vw, -30vh);
    z-index: -5;
}

.dot8{
    position: absolute;
    height: 38vw;
    width: 38vw;
    background-color: #526885;
    border-radius: 50%;
    transform: translate(22vw, 15vh);
    z-index: -4;
}


.dot9{
    position: absolute;
    height: 45vw;
    width: 45vw;
    background-color: #C3C9E9;
    border-radius: 50%;
    transform: translate(-8vw,-15vh);
    z-index: -9;
}

#Contact{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    z-index: 1;
}

.contactTitle{
    padding-left: 12.5vh;
    padding-top: 13vh
}

.linked{
    width: 30vh;
    position: absolute;
    transform: translate(64vw, 3vh);
}

.github{
    width: 30vh;
    position: absolute;
    transform: translate(33vw, 30vh);
}

.mail{
    width: 30vh;
    position: absolute;
    transform: translate(5vw, 8vh);
}
