@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');

.text{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
    padding-left: 12vh;
    font-family: 'Noto Sans', sans-serif;
    z-index: 2;
}

#title{
    font-size: 12.5vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

#resume{
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-left: 1vh;
}

#item{
    padding-top: 3vh;
    font-weight: 300;
}

#date{
    font-size: 2vh;
}

#role{
    font-size: 2.5vh;
    padding-bottom: 3vh;
}

#line{
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 40vw;
    margin-left: 0;
}

.dot3{
    position: absolute;
    height: 60vw;
    width: 60vw;
    background-color: #AAABBC;
    border-radius: 50%;
    transform: translate(-3vw, -47vw);
    z-index: 1;
}

.dot4{
    position: absolute;
    height: 43vw;
    width: 43vw;
    background-color: #373F47;
    border-radius: 50%;
    transform: translate(46vw, -47vw);
    z-index: -1;
}